
<div class="container">
    <div class="logo">
        <a routerLink="/">
            <img src="../../assets/LogoSimSave.svg" alt="logo"/>
        </a>
    </div>
    <div class="login-container">
        <h1>Entrar na plataforma</h1>
        <p style="text-align: center;">
            Digite seu e-mail e senha abaixo<br> 
            para entrar na plataforma.
        </p>
        <form >
            <input type="text" placeholder="Nome" required/>
            <input type="password" placeholder="Senha" required/>
            <button mat-raised-button style="margin: 20px 0 0 0;">ENTRAR</button>
        </form>
        
    </div>
</div>
