
<footer class="footer">
    <div class="first-section">

    </div>
    <div class="second-section">
        <div class="card-assinante">
            <h1>Ainda não é assinante?</h1>
            <p style="text-align: center;">
                Cadastre-se gratuitamente e descubra como 
                vários de profissionais da área da saúde estão aprimorando seus estudos 
                através do método inovador SimSave.
            </p>
            <a routerLink="/login" mat-raised-button class="button">Cadastre-se</a>
        </div>
        <div class="footer-icons">
            <img src="../../assets/LogoSimSave.png" alt="simsave logo"/>
            <ul id="social-icons">
                <li><fa-icon [icon]="faTwitter"></fa-icon></li>
                <li><fa-icon [icon]="faFacebook"></fa-icon></li>
                <li><fa-icon [icon]="faInstagram"></fa-icon></li>
                <li><fa-icon [icon]="faYoutube"></fa-icon></li>
                <li><fa-icon [icon]="faLikedin"></fa-icon></li>
            </ul>
           
            <div id="fale-conosco">
                <div>
                    <span id="mail-icon"><fa-icon [icon]="faMail"></fa-icon></span>
                    <div id="fale-conosco-text">
                        <h1 style="font-weight: bolder;">Fale Conosco</h1>
                        <p style="text-align: center;">
                            Dúvida, crítica sugestão ou elogio?<br>
                            Envie um e-mail para suporte@simsave.com.br
                        </p>
                    </div>
                    
                </div>
                
            </div>
        </div>
        
    </div>
</footer>