.main {
    position: relative;
    z-index: 1;
    width: 100%;
    background: grey;
}

.banner-area {
    position: relative;
    height: 800px;
    background: url('../../assets/banner.png');
}

.cards-container {
    background: #F6F6F9; 
    display: flex;
    height: 356px; 
    align-items: center;
    justify-content: space-evenly;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color: #5D5D5D;
    background: #ffff;
    border: 1px solid #EBEBEB;
    border-radius: 10px;
    height: 300px;
    width: 300px;
}

.card-title {
    font-weight: bolder;
}

@media (max-width: 768px) {
    .banner-area {
        height: 700px;
        background-position: -1100px !important;
        background: url('../../assets/banner.png');
    }

    .cards-container {
        flex-direction: column;
        justify-content: space-evenly;
        height: 1400px;
    }
}