

<div class="main">
    <div class="banner-area"></div>
    <div class="cards-container">
        <div *ngFor="let product of products; index as i ">
            <mat-card class="card">
                <mat-card-header [ngStyle]="{ 'color': product.color}">
                    <mat-card-title ><h1 class="card-title">{{product.title}}</h1></mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p style="font-size: 12px; text-align: center;">
                        {{product.text}}
                    </p>
                </mat-card-content>
                <div *ngIf="i === 0 || i === 3">
                    <a href="#" mat-stroked-button color="primary" [ngStyle]="{ 'color': product.color, 'border': '1px solid #E0E0E0', 'width': '133px', 'height': '36px'}">Saiba mais</a>
                </div>
                <div *ngIf="i === 1 || i === 2">
                    <a href="#" mat-stroked-button disabled [ngStyle]="{ 'color': '#878787', 'border': '1px solid #E0E0E0', 'width': '133px', 'height': '36px'}">Em Breve</a>
                </div>
               
            </mat-card>
            
        </div>
    </div>
    
</div>
