
<style>
  .container {
    display: grid;
    position: relative;
    grid-template-areas: "header"
                          "main"
                          "footer";
    grid-template-rows: 65px 1fr 1fr;
    max-width: 1920px;
    margin: 0 auto;
    max-height: 100vh;
  }

  .main {
    position: relative;
    height: 800px;
    background: brown;
  }

  
</style>

<div class="container">
    <app-header></app-header>
    <app-main></app-main>
    <app-footer></app-footer>
</div>

<router-outlet></router-outlet>